body {
	/*background: none transparent;*/
    overflow:hidden;
}

.bar{
	padding: 2%;
	background: white;
	border-radius: 10px;
	border:1px solid #ECF0F1;
	border-bottom: thick;
	box-shadow: #B3B3B3 2px 2px 2px;
}

.btn{
	border: none;
	padding: 5px;
	font-size: 1rem;
    color:white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover{
    color:black;
    background: white;
    transition: all .3s;
}
.red{
	background: rgb(202, 60, 60); 
}
.blue {
	background: rgb(66, 184, 221);
}

.closeButton{
	padding-top: 5px;
	color:#e74c3c;
	cursor: pointer;
}

.toggleButton{
	padding-top: 5px;
	color:#8e44ad;
	cursor: pointer;
}


.panel{
    padding: 2%;
    background-color: white;
	border-radius: 10px;
	border:1px solid #ECF0F1;
	border-bottom: thick;
	box-shadow: #B3B3B3 2px 2px 2px;
}

img:hover{
	transition: all .3s;
	cursor: pointer;
}